html { 
  background: url(https://lh3.googleusercontent.com/-PLYxp3zNHoA/VjFHmVfwgLI/AAAAAAAAAjw/HFJB3SmpE4c/s800-Ic42/IMG_20150828_175611.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
    font-family:Poiret One, cursive;
    font-size: 21px;
    text-align: center;
    vertical-align: center;
    padding-right: 300px;
    padding-top: 50px;
}
.nav {
font-family: 'Amatic SC', cursive;
font-size: 45px;
color: white;
float: left;
margin-left: 15%;
margin-top: 10px;
}
.nav div {
  margin-top: 25px;
}
a {
  text-decoration: none;
}