div {
  background-image: url("https://lh3.googleusercontent.com/xJqo-EeE59CU0PFLFJvmZFVp8LGU98w2Qz0AcWH7zV9mbQfb6QmlTve7K43Zq6X93Uyou7lSaPTrkmpUu8Y9hfxO4GVm0wZYu5jjr2X-BdxqaNRafoHiv0gJ7I9rrOkmvNoBPhYSxt5sBMmt1cyEHcWU9JD49d3R3U2JZOY8YCfYOHgHiv5HLlijODIW952uLZs6SmsTt0Rn8oic8cQxDJSK1rBKP5ViZ3vtyUooen5NrT5_xN9KaZ90PK7RDcwF8rne4_c6tY0RVEbX_Oe8I1G5gJHIJbqTNwGpdc_4RicXlLXmWWSbA6kPfdl2-_h9jh59Ag1snAsRAZbkZmeaJovH9J0PvArZGGebuUxbeoXxJlXpYkoebWXMAYGyjJIry9fwV5kxF7zDvhAIQ9f_JNwEYyeD5Uvj4fj19BHnx9yNa6Vy1G1juBmQFV2ZuN6Y5-FdlWmh_YWk9_dEUmWVPFf3ev5NKt0al2liuxP4M_01v6hdytliVJqLtOo5JM_htU7qb4pYFyJnEQDjFI_Ppw1bqv-TpNZkh61WyA=w858-h643-no") no-repeat center;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
}
p {
    font-size: 21px;
    text-align: center;
    vertical-align: center;
}